.main__chart {
	width: 200px;
	background-color: white;
	border-radius: 5%;
	width: 70%;
	padding: 10px;
}
 
.main h2{
	margin-left: 10px;
}

.main__pie-chart {
	display: flex;
	justify-content: space-around;
	background-color: white;
	border-radius: 5%;
	margin-top: 5px;
	padding: 10px 0 25px 0;
}

.pie-chart {
	width: 150px;
}

.main__tickets {
	margin-top: 30px;
	margin-bottom: 50px;
}

.main__tickets--title {
	color: #344464
}

.main__tickets--table {
	border-collapse: collapse;
	margin-top: 20px;
	background-color: white;
	border-radius: 5%;
}

.main__tickets--table thead {
	display: none;
}

.main__tickets--table, .table tbody, .table tr, .table td {
	display: block;
}

.main__tickets--table td, .main__tickets--table th {
	padding: 10px 5px;
}

.name_table {
	display: none;
}

.tickets__table--name {
	display: none;
}

.edit-button {
	text-decoration: none;
	color: white;
	background-color: #344464;
	padding: 5px 10px;
}

.delete-button {
	text-decoration: none;
	color: white;
	background-color: red;
	padding: 5px 10px;
	border: 0;
	cursor: pointer;
	font-size: 15px;
}

.paginationBtns {
	width: 80%;
	height: 40px;
	margin-top: 30px;
	list-style-type: none;
	display: flex;
	justify-content: center;
}

.paginationBtns a {
	padding: 10px;
	margin: 8px;
	border-radius: 3%;
	border: 1px solid #344464;
	color: #344464;
	cursor: pointer;
	user-select: none; /* supported by Chrome and Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}

.table__name__link {
	text-decoration: none;
	color: #344464;
}

@media screen and (min-width: 480px) {
	.main__tickets--table td, .main__tickets--table th {
		padding: 10px 10px;
	}
	.tickets__table--button {
		display: table-cell;
	}

}

@media screen and (min-width: 576px) {
	.main__chart {
		width: 50%;
		margin-bottom: 20px;
	}

	.tickets__table--name {
		display: table-cell;
	}	
}

@media screen and (min-width: 768px) {
	.main__tickets--table thead {
		display: table-header-group
	}

	.main__tickets--table td, .main__tickets--table th {
		padding: 15px 15px;
	}

	.pie-chart {
		width: 250px;
	}

	.item-table {
		padding-right: 30px;
	}

}


@media screen and (min-width: 1024px) {
	.main__chart {
		width: 30%;
		margin-bottom: 20px;
	}

	.pie-chart {
		width: 200px;
	}
}

@media screen and (min-width: 1440px) {
	.pie-chart {
		width: 250px;
	}

	.pie-chat__title{ 
		font-size: 24px;
	}
}