.header {
	display: flex;
	justify-content: space-between;
    align-items: center;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
}

.user__data > p {
	color: #344464;
	margin: 0 10px;
}

.user__data--logout {
	margin: 0 10px;
	text-decoration: none;
	color: #06ac5c;
}