.profile {
	color: #344464;
	display: grid;
	grid-template-areas: "nav"
	                     "main";
}

.main__profile {
	background-color: white;
	padding: 20px 0;
}

.main__profile--text {
	margin-left: 10px;
}
.form__update-user {
	padding: 20px;
}

.update-profile-button {
	margin-left: 10px;
	text-decoration: none;
	padding: 5px 10px;
	background-color: #06ac5c;
	color: white;
}

@media screen and (min-width: 1024px) {
	.main__profile {
		margin-left: 260px;
	}
}