.projects {
	color: #344464;
	display: grid;
	grid-template-areas: "nav"
	                     "main";
}

.nav {
	display: flex;
	justify-content: flex-end;
	grid-area: nav;
}

.sidebar {
	grid-area: sidebar;
}


.main {
	grid-area: main;
	padding-left: 10px;
	margin-right: 20px;
}

.main-projects__nav {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-project__action--button{
	margin-left: 10px;
}

.project-box {
	background-color: white;
	padding: 0 20px;
	margin-top: 20px;
}

.project-box__header {
	display: flex;
	
	justify-content: space-between;
	align-items: center;
}
